
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    font-family: Roboto Mono;
    font-size: large;
    font-weight: bold;
    
}
.nav item .nav link{
  color: black;
}
header{
  background-color: white;
}
.section{
  display: none;
}